@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
  font-family: "Lato", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: white;
  background-color: teal;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.container {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page-heading {
  margin-bottom: 20px;
  text-align: center;
}
ul > a {
  text-decoration: none;
  color: white;
}

p > a {
  text-decoration: none;
  color: black;
}
.shop-items {
  text-align: center;
  margin-bottom: 1rem;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
